body {
	background-color: #000; /* Black background */
	font-family: Arial, sans-serif;
	color: #fff; /* White text */
	margin: 0;
	padding: 0;
}

header {
	background-color: #333; /* Dark gray header */
	padding: 20px;
	text-align: center;
}

#title {
	font-size: 36px;
	margin-bottom: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#description-section {
	margin-bottom: 20px;
}

#description {
	font-size: 18px;
}

#legal-info-section {
	margin-bottom: 40px;
}

#legal-info {
	color: #aaa; /* Light gray text for legal info */
	font-size: 14px;
}

#button-section {
	margin-top: 40px;
}

.button {
	background-color: #333; /* Dark gray buttons */
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #444; /* Darker gray on hover */
}

#button-container {
	text-align: center;
}
